// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "Main";

// Sides
.left, .right {
  float: left;
  margin: 75px 25px;
  width: 462px;
}

.login-left {
  float: none;
  margin: 75px auto;
}

// Form
form {
  margin: auto;
  width: 300px;
}

input[type="text"],
  input[type="email"],
  input[type="password"] {
    @include helvetica-thin;
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid $dark-black;
    line-height: 2em;
    margin: 10px 0;
    outline: none;
    padding: 15px 0;
    text-indent: 15%;
    width: 100%;
}

form a {
  display: block;
  text-align: center;
}

form label {
  @include helvetica-thin;
  font: {
    size: 0.8em;
    weight: 500;
  }
  letter-spacing: 0.5px;
}

.remember-box {
  line-height: 3em;
  text-align: center;
}

// Buttons
button, .button {
  margin: 50px auto 15px !important;
}

#problem-message {
  @include helvetica-thin;
  // Message shown when the user
  // has already logged in or
  // when anything else goes bad
  display: none;
  font-size: 1.05em;
  line-height: 175%;
  margin-top: 50px;
  text-align: center;
}

#problem-message a {
  display: block;

}
