// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "Main";

// Logo at the bottom
img[alt="Logo.png"] {
  display: block;
  height: 64px;
  margin: 2.5% auto;
  width: 64px;
}

// Sides
.left, .right {
  float: left;
  margin: 7.32421875% 2.44140625%; // 75px 25px
  width: 45.1171875%; // 462px
}

.login-left {
  float: none;
  margin: 7.32421875% auto; // 75px
}

// Problem messages
.login-probs {
  position: relative;
  top: 50px;
}

.login-prob {
  @include helvetica-thin;
  text-align: center;
}

.login-prob:not(:first-of-type) {
  margin-top: 1%;
}

// Terms
.terms {
  height: 380px;
  margin: 2.5% auto 5%;
  overflow: scroll;
}

.terms p {
  @include helvetica-thin;
  font-size: 0.8em;
  line-height: 140%;
  margin: 3.5% 0;
  margin-left: 20% !important;
  width: 75%;
}

.agreement-box {
  margin-left: 20%;
}

.agreement-label {
  @include helvetica-thin;
}

// Form
form {
  margin: auto;
  width: 64.935064935%; // 300px
}

input[type="text"],
  input[type="email"],
  input[type="password"] {
    @include helvetica-thin;
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid $dark-black;
    line-height: 2em;
    margin: 3.3333333333% 0; // 10px 0
    outline: none;
    padding: 5% 0; // 15px 0
    text-indent: 15%;
    width: 100%;
}

form a {
  display: block;
  text-align: center;
}

form label {
  @include helvetica-thin;
  font: {
    size: 0.8em;
    weight: 500;
  }
  letter-spacing: 0.5px;
}

.remember-box {
  line-height: 3em;
  text-align: center;
}

// Buttons
button, .button {
  margin: 16.666666667% auto 5%  !important; // 50px auto 15px
}

#problem-message {
  @include helvetica-thin;
  // Message shown when the user
  // has already logged in or
  // when anything else goes bad
  display: none;
  font-size: 1.05em;
  line-height: 175%;
  margin-top: 50px;
  text-align: center;
}

#problem-message a {
  display: block;
}
